.textcircle {
  text-align: center;
  margin-top: 5%;
  display: block;
}

.sectionLight {
  background-color: #eceeef;
  padding: 2rem;
}

.carouseledit {
  margin: auto;
}

.sectionDark {
  background-color: #cccccc;
  padding: 2rem;
}

.coolStuffWraper {
  margin-top: 20px;
}

button.coolStuffBtn {
  background-color: red;
  color: #fff;
  margin: auto;
  display: block;
}

button.coolStuffBtn:hover {
  background-color: red;
  color: #fff;
}

h5.modal-title {
  margin: auto;
}

.modalFormWrapper {
  padding: 2rem;
}

.imgcenter {
  display: block;
  margin: auto;
}

button.btnCenter {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 54%;
}
.modalbody {
  background-color: red;
}

.footerimg {
  padding: 15px;
}

.fa {
  margin: 10px;
}
.fa-facebook-square {
  color: #3b5998;
}
.fa-google-plus-square {
  color: #c32f10;
}
.fa-instagram {
  color: #fff;
}
